# JSON examples and exercise
****
+ get familiar with packages for dealing with JSON
+ study examples with JSON strings and files 
+ work on exercise to be completed and submitted 
****
+ reference: http://pandas.pydata.org/pandas-docs/stable/io.html#io-json-reader
+ data source: http://jsonstudio.com/resources/
****

In [1]:
import pandas as pd

## imports for Python, Pandas

In [2]:
import json
from pandas.io.json import json_normalize

## JSON example, with string

+ demonstrates creation of normalized dataframes (tables) from nested json string
+ source: http://pandas.pydata.org/pandas-docs/stable/io.html#normalization

In [3]:
# define json string
data = [{'state': 'Florida', 
         'shortname': 'FL',
         'info': {'governor': 'Rick Scott'},
         'counties': [{'name': 'Dade', 'population': 12345},
                      {'name': 'Broward', 'population': 40000},
                      {'name': 'Palm Beach', 'population': 60000}]},
        {'state': 'Ohio',
         'shortname': 'OH',
         'info': {'governor': 'John Kasich'},
         'counties': [{'name': 'Summit', 'population': 1234},
                      {'name': 'Cuyahoga', 'population': 1337}]}]

In [4]:
# use normalization to create tables from nested element
json_normalize(data, 'counties')

         name  population
0        Dade       12345
1     Broward       40000
2  Palm Beach       60000
3      Summit        1234
4    Cuyahoga        1337

In [5]:
# further populate tables created from nested element
json_normalize(data, 'counties', ['state', 'shortname', ['info', 'governor']])

         name  population    state shortname info.governor
0        Dade       12345  Florida        FL    Rick Scott
1     Broward       40000  Florida        FL    Rick Scott
2  Palm Beach       60000  Florida        FL    Rick Scott
3      Summit        1234     Ohio        OH   John Kasich
4    Cuyahoga        1337     Ohio        OH   John Kasich

****
## JSON example, with file

+ demonstrates reading in a json file as a string and as a table
+ uses small sample file containing data about projects funded by the World Bank 
+ data source: http://jsonstudio.com/resources/

In [6]:
# load json as string
json.load((open('data/world_bank_projects_less.json')))

[{'_id': {'$oid': '52b213b38594d8a2be17c780'},
  'approvalfy': 1999,
  'board_approval_month': 'November',
  'boardapprovaldate': '2013-11-12T00:00:00Z',
  'borrower': 'FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA',
  'closingdate': '2018-07-07T00:00:00Z',
  'country_namecode': 'Federal Democratic Republic of Ethiopia!$!ET',
  'countrycode': 'ET',
  'countryname': 'Federal Democratic Republic of Ethiopia',
  'countryshortname': 'Ethiopia',
  'docty': 'Project Information Document,Indigenous Peoples Plan,Project Information Document',
  'envassesmentcategorycode': 'C',
  'grantamt': 0,
  'ibrdcommamt': 0,
  'id': 'P129828',
  'idacommamt': 130000000,
  'impagency': 'MINISTRY OF EDUCATION',
  'lendinginstr': 'Investment Project Financing',
  'lendinginstrtype': 'IN',
  'lendprojectcost': 550000000,
  'majorsector_percent': [{'Name': 'Education', 'Percent': 46},
   {'Name': 'Education', 'Percent': 26},
   {'Name': 'Public Administration, Law, and Justice', 'Percent': 16},
   {'Name': 'Education', 'Percent': 12}],
  'mjsector_namecode': [{'name': 'Education', 'code': 'EX'},
   {'name': 'Education', 'code': 'EX'},
   {'name': 'Public Administration, Law, and Justice', 'code': 'BX'},
   {'name': 'Education', 'code': 'EX'}],
  'mjtheme': ['Human development'],
  'mjtheme_namecode': [{'name': 'Human development', 'code': '8'},
   {'name': '', 'code': '11'}],
  'mjthemecode': '8,11',
  'prodline': 'PE',
  'prodlinetext': 'IBRD/IDA',
  'productlinetype': 'L',
  'project_abstract': {'cdata': 'The development objective of the Second Phase of General Education Quality Improvement Project for Ethiopia is to improve learning conditions in primary and secondary schools and strengthen institutions at different levels of educational administration. The project has six components. The first component is curriculum, textbooks, assessment, examinations, and inspection. This component will support improvement of learning conditions in grades KG-12 by providing increased access to teaching and learning materials and through improvements to the curriculum by assessing the strengths and weaknesses of the current curriculum. This component has following four sub-components: (i) curriculum reform and implementation; (ii) teaching and learning materials; (iii) assessment and examinations; and (iv) inspection. The second component is teacher development program (TDP). This component will support improvements in learning conditions in both primary and secondary schools by advancing the quality of teaching in general education through: (a) enhancing the training of pre-service teachers in teacher education institutions; and (b) improving the quality of in-service teacher training. This component has following three sub-components: (i) pre-service teacher training; (ii) in-service teacher training; and (iii) licensing and relicensing of teachers and school leaders. The third component is school improvement plan. This component will support the strengthening of school planning in order to improve learning outcomes, and to partly fund the school improvement plans through school grants. It has following two sub-components: (i) school improvement plan; and (ii) school grants. The fourth component is management and capacity building, including education management information systems (EMIS). This component will support management and capacity building aspect of the project. This component has following three sub-components: (i) capacity building for education planning and management; (ii) capacity building for school planning and management; and (iii) EMIS. The fifth component is improving the quality of learning and teaching in secondary schools and universities through the use of information and communications technology (ICT). It has following five sub-components: (i) national policy and institution for ICT in general education; (ii) national ICT infrastructure improvement plan for general education; (iii) develop an integrated monitoring, evaluation, and learning system specifically for the ICT component; (iv) teacher professional development in the use of ICT; and (v) provision of limited number of e-Braille display readers with the possibility to scale up to all secondary education schools based on the successful implementation and usage of the readers. The sixth component is program coordination, monitoring and evaluation, and communication. It will support institutional strengthening by developing capacities in all aspects of program coordination, monitoring and evaluation; a new sub-component on communications will support information sharing for better management and accountability. It has following three sub-components: (i) program coordination; (ii) monitoring and evaluation (M and E); and (iii) communication.'},
  'project_name': 'Ethiopia General Education Quality Improvement Project II',
  'projectdocs': [{'DocTypeDesc': 'Project Information Document (PID),  Vol.',
    'DocType': 'PID',
    'EntityID': '090224b081e545fb_1_0',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=090224b081e545fb_1_0',
    'DocDate': '28-AUG-2013'},
   {'DocTypeDesc': 'Indigenous Peoples Plan (IP),  Vol.1 of 1',
    'DocType': 'IP',
    'EntityID': '000442464_20130920111729',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000442464_20130920111729',
    'DocDate': '01-JUL-2013'},
   {'DocTypeDesc': 'Project Information Document (PID),  Vol.',
    'DocType': 'PID',
    'EntityID': '090224b0817b19e2_1_0',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=090224b0817b19e2_1_0',
    'DocDate': '22-NOV-2012'}],
  'projectfinancialtype': 'IDA',
  'projectstatusdisplay': 'Active',
  'regionname': 'Africa',
  'sector': [{'Name': 'Primary education'},
   {'Name': 'Secondary education'},
   {'Name': 'Public administration- Other social services'},
   {'Name': 'Tertiary education'}],
  'sector1': {'Name': 'Primary education', 'Percent': 46},
  'sector2': {'Name': 'Secondary education', 'Percent': 26},
  'sector3': {'Name': 'Public administration- Other social services',
   'Percent': 16},
  'sector4': {'Name': 'Tertiary education', 'Percent': 12},
  'sector_namecode': [{'name': 'Primary education', 'code': 'EP'},
   {'name': 'Secondary education', 'code': 'ES'},
   {'name': 'Public administration- Other social services', 'code': 'BS'},
   {'name': 'Tertiary education', 'code': 'ET'}],
  'sectorcode': 'ET,BS,ES,EP',
  'source': 'IBRD',
  'status': 'Active',
  'supplementprojectflg': 'N',
  'theme1': {'Name': 'Education for all', 'Percent': 100},
  'theme_namecode': [{'name': 'Education for all', 'code': '65'}],
  'themecode': '65',
  'totalamt': 130000000,
  'totalcommamt': 130000000,
  'url': 'http://www.worldbank.org/projects/P129828/ethiopia-general-education-quality-improvement-project-ii?lang=en'},
 {'_id': {'$oid': '52b213b38594d8a2be17c781'},
  'approvalfy': 2015,
  'board_approval_month': 'November',
  'boardapprovaldate': '2013-11-04T00:00:00Z',
  'borrower': 'GOVERNMENT OF TUNISIA',
  'country_namecode': 'Republic of Tunisia!$!TN',
  'countrycode': 'TN',
  'countryname': 'Republic of Tunisia',
  'countryshortname': 'Tunisia',
  'docty': 'Project Information Document,Integrated Safeguards Data Sheet,Integrated Safeguards Data Sheet,Project Information Document,Integrated Safeguards Data Sheet,Project Information Document',
  'envassesmentcategorycode': 'C',
  'grantamt': 4700000,
  'ibrdcommamt': 0,
  'id': 'P144674',
  'idacommamt': 0,
  'impagency': 'MINISTRY OF FINANCE',
  'lendinginstr': 'Specific Investment Loan',
  'lendinginstrtype': 'IN',
  'lendprojectcost': 5700000,
  'majorsector_percent': [{'Name': 'Public Administration, Law, and Justice',
    'Percent': 70},
   {'Name': 'Public Administration, Law, and Justice', 'Percent': 30}],
  'mjsector_namecode': [{'name': 'Public Administration, Law, and Justice',
    'code': 'BX'},
   {'name': 'Public Administration, Law, and Justice', 'code': 'BX'}],
  'mjtheme': ['Economic management', 'Social protection and risk management'],
  'mjtheme_namecode': [{'name': 'Economic management', 'code': '1'},
   {'name': 'Social protection and risk management', 'code': '6'}],
  'mjthemecode': '1,6',
  'prodline': 'RE',
  'prodlinetext': 'Recipient Executed Activities',
  'productlinetype': 'L',
  'project_name': 'TN: DTF Social Protection Reforms Support',
  'projectdocs': [{'DocTypeDesc': 'Project Information Document (PID),  Vol.1 of 1',
    'DocType': 'PID',
    'EntityID': '000333037_20131024115616',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000333037_20131024115616',
    'DocDate': '29-MAR-2013'},
   {'DocTypeDesc': 'Integrated Safeguards Data Sheet (ISDS),  Vol.1 of 1',
    'DocType': 'ISDS',
    'EntityID': '000356161_20131024151611',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000356161_20131024151611',
    'DocDate': '29-MAR-2013'},
   {'DocTypeDesc': 'Integrated Safeguards Data Sheet (ISDS),  Vol.1 of 1',
    'DocType': 'ISDS',
    'EntityID': '000442464_20131031112136',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000442464_20131031112136',
    'DocDate': '29-MAR-2013'},
   {'DocTypeDesc': 'Project Information Document (PID),  Vol.1 of 1',
    'DocType': 'PID',
    'EntityID': '000333037_20131031105716',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000333037_20131031105716',
    'DocDate': '29-MAR-2013'},
   {'DocTypeDesc': 'Integrated Safeguards Data Sheet (ISDS),  Vol.1 of 1',
    'DocType': 'ISDS',
    'EntityID': '000356161_20130305113209',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000356161_20130305113209',
    'DocDate': '16-JAN-2013'},
   {'DocTypeDesc': 'Project Information Document (PID),  Vol.1 of 1',
    'DocType': 'PID',
    'EntityID': '000356161_20130305113716',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000356161_20130305113716',
    'DocDate': '16-JAN-2013'}],
  'projectfinancialtype': 'OTHER',
  'projectstatusdisplay': 'Active',
  'regionname': 'Middle East and North Africa',
  'sector': [{'Name': 'Public administration- Other social services'},
   {'Name': 'General public administration sector'}],
  'sector1': {'Name': 'Public administration- Other social services',
   'Percent': 70},
  'sector2': {'Name': 'General public administration sector', 'Percent': 30},
  'sector_namecode': [{'name': 'Public administration- Other social services',
    'code': 'BS'},
   {'name': 'General public administration sector', 'code': 'BZ'}],
  'sectorcode': 'BZ,BS',
  'source': 'IBRD',
  'status': 'Active',
  'supplementprojectflg': 'N',
  'theme1': {'Name': 'Other economic management', 'Percent': 30},
  'theme_namecode': [{'name': 'Other economic management', 'code': '24'},
   {'name': 'Social safety nets', 'code': '54'}],
  'themecode': '54,24',
  'totalamt': 0,
  'totalcommamt': 4700000,
  'url': 'http://www.worldbank.org/projects/P144674?lang=en'}]

In [7]:
# load as Pandas dataframe
sample_json_df = pd.read_json('data/world_bank_projects_less.json')
sample_json_df

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{'$oid': '52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"ET,BS,ES,EP",IBRD,Active,N,"{'Name': 'Education for all', 'Percent': 100}","[{'name': 'Education for all', 'code': '65'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{'$oid': '52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"BZ,BS",IBRD,Active,N,"{'Name': 'Other economic management', 'Percent...","[{'name': 'Other economic management', 'code':...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en

****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [9]:
full_json_df = pd.read_json('data/world_bank_projects.json')
full_json_df

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{'$oid': '52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"ET,BS,ES,EP",IBRD,Active,N,"{'Percent': 100, 'Name': 'Education for all'}","[{'code': '65', 'name': 'Education for all'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{'$oid': '52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"BZ,BS",IBRD,Active,N,"{'Percent': 30, 'Name': 'Other economic manage...","[{'code': '24', 'name': 'Other economic manage...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en
2,{'$oid': '52b213b38594d8a2be17c782'},2014,November,2013-11-01T00:00:00Z,MINISTRY OF FINANCE AND ECONOMIC DEVEL,NaN,Tuvalu!$!TV,TV,Tuvalu,Tuvalu,...,TI,IBRD,Active,Y,"{'Percent': 46, 'Name': 'Regional integration'}","[{'code': '47', 'name': 'Regional integration'...","52,81,25,47",6060000,6060000,http://www.worldbank.org/projects/P145310?lang=en
3,{'$oid': '52b213b38594d8a2be17c783'},2014,October,2013-10-31T00:00:00Z,MIN. OF PLANNING AND INT'L COOPERATION,NaN,Republic of Yemen!$!RY,RY,Republic of Yemen,"Yemen, Republic of",...,JB,IBRD,Active,N,"{'Percent': 50, 'Name': 'Participation and civ...","[{'code': '57', 'name': 'Participation and civ...","59,57",0,1500000,http://www.worldbank.org/projects/P144665?lang=en
4,{'$oid': '52b213b38594d8a2be17c784'},2014,October,2013-10-31T00:00:00Z,MINISTRY OF FINANCE,2019-04-30T00:00:00Z,Kingdom of Lesotho!$!LS,LS,Kingdom of Lesotho,Lesotho,...,"FH,YW,YZ",IBRD,Active,N,"{'Percent': 30, 'Name': 'Export development an...","[{'code': '45', 'name': 'Export development an...","41,45",13100000,13100000,http://www.worldbank.org/projects/P144933/seco...
5,{'$oid': '52b213b38594d8a2be17c785'},2014,October,2013-10-31T00:00:00Z,REPUBLIC OF KENYA,NaN,Republic of Kenya!$!KE,KE,Republic of Kenya,Kenya,...,JB,IBRD,Active,Y,"{'Percent': 100, 'Name': 'Social safety nets'}","[{'code': '54', 'name': 'Social safety nets'}]",54,10000000,10000000,http://www.worldbank.org/projects/P146161?lang=en
6,{'$oid': '52b213b38594d8a2be17c786'},2014,October,2013-10-29T00:00:00Z,GOVERNMENT OF INDIA,2019-06-30T00:00:00Z,Republic of India!$!IN,IN,Republic of India,India,...,TI,IBRD,Active,N,"{'Percent': 20, 'Name': 'Administrative and ci...","[{'code': '25', 'name': 'Administrative and ci...","39,25",500000000,500000000,http://www.worldbank.org/projects/P121185/firs...
7,{'$oid': '52b213b38594d8a2be17c787'},2014,October,2013-10-29T00:00:00Z,PEOPLE'S REPUBLIC OF CHINA,NaN,People's Republic of China!$!CN,CN,People's Republic of China,China,...,LR,IBRD,Active,N,"{'Percent': 100, 'Name': 'Climate change'}","[{'code': '81', 'name': 'Climate change'}]",81,0,27280000,http://www.worldbank.org/projects/P127033/chin...
8,{'$oid': '52b213b38594d8a2be17c788'},2014,October,2013-10-29T00:00:00Z,THE GOVERNMENT OF INDIA,2018-12-31T00:00:00Z,Republic of India!$!IN,IN,Republic of India,India,...,TI,IBRD,Active,N,"{'Percent': 87, 'Name': 'Other rural developme...","[{'code': '79', 'name': 'Other rural developme...",79,160000000,160000000,http://www.worldbank.org/projects/P130164/raja...
9,{'$oid': '52b213b38594d8a2be17c789'},2014,October,2013-10-29T00:00:00Z,THE KINGDOM OF MOROCCO,2014-12-31T00:00:00Z,Kingdom of Morocco!$!MA,MA,Kingdom of Morocco,Morocco,...,"BM,BC,BZ",IBRD,Active,N,"{'Percent': 33, 'Name': 'Other accountability/...","[{'code': '29', 'name': 'Other accountability/...","27,30,29",200000000,200000000,http://www.worldbank.org/projects/P130903?lang=en
10,{'$oid': '52b213b38594d8a2be17c78a'},2014,October,2013-10-25T00:00:00Z,GOVERNMENT OF SOUTH SUDAN,NaN,Republic of South Sudan!$!SS,SS,Republic of South Sudan,South Sudan,...,"AZ,JB,AH",IBRD,Active,Y,"{'Percent': 100, 'Name': 'Global food crisis r...","[{'code': '91', 'name': 'Global food crisis re...",91,0,7530000,http://www.worldbank.org/projects/P145339?lang=en
11,{'$oid': '52b213b38594d8a2be17c78b'},2014,October,2013-10-25T00:00:00Z,NaN,2017-12-31T00:00:00Z,Republic of India!$!IN,IN,Republic of India,India,...,"JB,YC,WD,TI",IBRD,Active,N,"{'Percent': 60, 'Name': 'Rural services and in...","[{'code': '78', 'name': 'Rural services and in...","81,87,52,78",250000000,250000000,http://www.worldbank.org/projects/P146653?lang=en
12,{'$oid': '52b213b38594d8a2be17c78c'},2014,October,2013-10-24T00:00:00Z,GOVERNMENT OF GHANA,2019-06-30T00:00:00Z,Republic of Ghana!$!GH,GH,Republic of Ghana,Ghana,...,CZ,IBRD,Active,N,"{'Percent': 0, 'Name': ''}",NaN,NaN,97000000,97000000,http://www.worldbank.org/projects/P144140/gh-e...
13,{'$oid': '52b213b38594d8a2be17c78d'},2014,October,2013-10-22T00:00:00Z,GOVERNMENT OF TIMOR LESTE,NaN,Democratic Republic of Timor-Leste!$!TP,TP,Democratic Republic of Timor-Leste,Timor-Leste,...,"BV,TI",IBRD,Active,Y,"{'Percent': 20, 'Name': 'Regional integration'}","[{'code': '47', 'name': 'Regional integration'...","78,81,47",40000000,40000000,http://www.worldbank.org/projects/P130975/timo...
14,{'$oid': '52b213b38594d8a2be17c78e'},2014,October,2013-10-22T00:00:00Z,GOVERNMENT OF JORDAN,NaN,Hashemite Kingdom of Jordan!$!JO,JO,Hashemite Kingdom of Jordan,Jordan,...,JB,IBRD,Active,N,"{'Percent': 50, 'Name': 'Social safety nets'}","[{'code': '54', 'name': 'Social safety nets'},...","53,56,54",0,9500000,http://www.worldbank.org/projects/P144832?lang=en
15,{'$oid': '52b213b38594d8a2be17c78f'},2014,October,2013-10-17T00:00:00Z,MINISTRY OF FINANCE,2019-04-30T00:00:00Z,Samoa!$!WS,WS,Samoa,Samoa,...,TI,IBRD,Active,N,"{'Percent': 60, 'Name': 'Rural services and in...","[{'code': '78', 'name': 'Rural services and in...","49,81,78",20000000,20000000,http://www.worldbank.org/projects/P145545?lang=en
16,{'$oid': '52b213b38594d8a2be17c790'},2014,October,2013-10-17T00:00:00Z,MINISTRY OF FINANCE,2015-12-31T00:00:00Z,Samoa!$!WS,WS,Samoa,Samoa,...,"AZ,AJ,AH",IBRD,Active,N,"{'Percent': 100, 'Name': 'Other rural developm...","[{'code': '79', 'name': 'Other rural developme...",79,5000000,5000000,http://www.worldbank.org/projects/P145938?lang=en
17,{'$oid': '52b213b38594d8a2be17c791'},2014,October,2013-10-16T00:00:00Z,MINISTRY OF FINANCE AND BUDGET (MFB),NaN,Republic of Madagascar!$!MG,MG,Republic of Madagascar,Madagascar,...,EP,IBRD,Active,N,"{'Percent': 100, 'Name': 'Education for all'}","[{'code': '65', 'name': 'Education for all'}]",65,0,85400000,http://www.worldbank.org/projects/P132616?lang=en
18,{'$oid': '52b213b38594d8a2be17c792'},2014,October,2013-10-16T00:00:00Z,ROYAL GOVERNMENT OF CAMBODIA,NaN,Kingdom of Cambodia!$!KH,KH,Kingdom of Cambodia,Cambodia,...,"BK,JB,BH,BC,JA",IBRD,Active,Y,"{'Percent': 17, 'Name': 'Child health'}","[{'code': '63', 'name': 'Child health'}, {'cod...","69,57,25,67,63",0,13450000,http://www.worldbank.org/projects/P146271?lang=en
19,{'$oid': '52b213b38594d8a2be17c793'},2014,October,2013-10-10T00:00:00Z,MINISTRY OF FINANCE,NaN,Kingdom of Morocco!$!MA,MA,Kingdom of Morocco,Morocco,...,"BH,BC,BZ",IBRD,Active,N,"{'Percent': 40, 'Name': 'Public expenditure, f...","[{'code': '27', 'name': 'Public expenditure, f...","25,26,27",0,4350000,http://www.worldbank.org/projects/P143979?lang=en
20,{'$oid': '52b213b38594d8a2be17c794'},2014,October,2013-10-09T00:00:00Z,AGA KHAN DEVELOPMENT NETWORK (AKDN),NaN,Kyrgyz Republic!$!KG,KG,Kyrgyz Republic,Kyrgyz Republic,...,JB,IBRD,Active,N,"{'Percent': 50, 'Name': 'Conflict prevention a...","[{'code': '58', 'name': 'Conflict prevention a...","57,58",0,2000000,http://www.worldbank.org/projects/P132577?lang=en
21,{'$oid': '52b213b38594d8a2be17c795'},2014,October,2013-10-07T00:00:00Z,NEPAL,NaN,Nepal!$!NP,NP,Nepal,Nepal,...,"BH,YW,JB",IBRD,Active,N,"{'Percent': 30, 'Name': 'Urban services and ho...","[{'code': '71', 'name': 'Urban services and ho...","57,71",0,2750000,http://www.worldbank.org/projects/P145359?lang=en
22,{'$oid': '52b213b38594d8a2be17c796'},2014,October,2013-10-07T00:00:00Z,MINISTRY OF PLANNING AND INTERNATIONAL C,NaN,Hashemite Kingdom of Jordan!$!JO,JO,Hashemite Kingdom of Jordan,Jordan,...,"WC,BS,BH,TZ,WB",IBRD,Active,N,"{'Percent': 25, 'Name': 'Other social developm...","[{'code': '62', 'name': 'Other social developm...","58,62",0,50000000,http://www.worldbank.org/projects/P147689?lang=en
23,{'$oid': '52b213b38594d8a2be17c797'},2014,October,2013-10-03T00:00:00Z,REPUBLIC OF TAJIKISTAN,NaN,Republic of Tajikistan!$!TJ,TJ,Republic of Tajikistan,Tajikistan,...,JA,IBRD,Active,N,"{'Percent': 60, 'Name': 'Nutrition and food se...","[{'code': '68', 'name': 'Nutrition and food se...","63,68",0,2800000,http://www.worldbank.org/projects/P146109?lang=en
24,{'$oid': '52b213b38594d8a2be17c798'},2014,September,2013-09-30T00:00:00Z,REPUBLIC OF AZERBAIJAN,2018-12-31T00:00:00Z,Republic of Azerbaijan!$!AZ,AZ,Republic of Azerbaijan,Azerbaijan,...,"AB,AZ,YA",IBRD,Active,N,"{'Percent': 30, 'Name': 'Rural markets'}","[{'code': '75', 'name': 'Rural markets'}, {'co...","56,78,76,75",34500000,34500000,http://www.worldbank.org/projects/P122812/thir...
25,{'$oid': '52b213b38594d8a2be17c799'},2014,September,2013-09-30T00:00:00Z,UNIVERSITY OF QUEENSLAND,NaN,East Asia and Pacific!$!4E,4E,East Asia and Pacific,East Asia and Pacific,...,"AB,AZ",IBRD,Active,N,"{'Percent': 40, 'Name': 'Other environment and...","[{'code': '86', 'name': 'Other environment and...","80,81,86",0,4500000,http://www.worldbank.org/projects/P123933/capt...
26,{'$oid': '52b213b38594d8a2be17c79a'},2014,September,2013-09-30T00:00:00Z,LAO PEOPLES DEMOCRATIC REPUBLIC,2014-03-31T00:00:00Z,Lao People's Democratic Republic!$!LA,LA,Lao People's Democratic Republic,Lao People's Democratic Republic,...,"LG,FB,EZ,YZ,BC",IBRD,Closed,N,"{'Percent': 14, 'Name': 'Regulation and compet...","[{'code': '40', 'name': 'Regulation and compet...","67,27,49,40",20000000,20000000,http://www.worldbank.org/projects/P143025/lao-...
27,{'$oid': '52b213b38594d8a2be17c79b'},2014,September,2013-09-30T00:00:00Z,PACIFIC AVIATION SECURITY OFFICE,2018-12-31T00:00:00Z,Pacific Islands!$!4P,4P,Pacific Islands,Pacific Islands,...,"BV,TV",IBRD,Active,N,"{'Percent': 5, 'Name': 'Climate change'}","[{'code': '81', 'name': 'Climate change'}, {'c...","52,47,25,81",2150000,2150000,http://www.worldbank.org/projects/P145057/paci...
28,{'$oid': '52b213b38594d8a2be17c79c'},2014,September,2013-09-30T00:00:00Z,SOLOMON ISLANDS GOVERNMENT,NaN,Solomon Islands!$!SB,SB,Solomon Islands,Solomon Islands,...,"BZ,AZ",IBRD,Active,Y,"{'Percent': 30, 'Name': 'Rural policies and in...","[{'code': '77', 'name': 'Rural policies and in...","57,78,77",3000000,3000000,http://www.worldbank.org/projects/P146021?lang=en
29,{'$oid': '52b213b38594d8a2be17c79d'},2014,September,2013-09-27T00:00:00Z,GOVERNMENT OF MOZAMBIQUE,NaN,Republic of Mozambique!$!MZ,MZ,Republic of Mozambique,Mozambique,...,"JB,BW,WZ,WD",IBRD,Active,Y,"{'Percent': 4, 'Name': 'Other social developme...","[{'code': '62', 'name': 'Other social developm...","85,62",32000000,32000000,http://www.worldbank.org/projects/P146098?lang=en
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470,{'$oid': '52b213b38594d8a2be17c956'},2013,September,2012-09-20T00:00:00Z,GOVERNMENT OF LIBERIA,NaN,Republic of Liberia!$!LR,LR,Republic of Liberia,Liberia,...,"BV,TI",IBRD,Active,Y,"{'Percent': 40, 'Name': 'Trade facilitation an...","[{'code': '49', 'name': 'Trade facilitation an...","78,49",50000000,50000000,http://www.worldbank.org/projects/P129654/libe...
471,{'$oid': '52b213b38594d8a2be17c957'},2013,September,2012-09-20T00:00:00Z,GOVERNMENT OF BANGLADESH,2018-12-31T00:00:00Z,People's Republic of Bangladesh!$!BD,BD,People's Republic of Bangladesh,Bangladesh,...,"BU,LA,LR",IBRD,Active,N,"{'Percent': 45, 'Name': 'Rural services and in...","[{'code': '78', 'name': 'Rural services and in...","59,81,57,78",155000000,155000000,http://www.worldbank.org/projects/P131263/rura...
472,{'$oid': '52b213b38594d8a2be17c958'},2013,September,2012-09-13T00:00:00Z,MINISTRY OF NATURE PROTECTION,2014-09-30T00:00:00Z,Republic of Armenia!$!AM,AM,Republic of Armenia,Armenia,...,BC,IBRD,Active,N,"{'Percent': 100, 'Name': 'Other environment an...","[{'code': '86', 'name': 'Other environment and...",86,0,150000,http://www.worldbank.org/projects/P131631/repo...
473,{'$oid': '52b213b38594d8a2be17c959'},2013,September,2012-09-13T00:00:00Z,"MINISTRY OF ENVIRONMENT, FORESTS, WATER",NaN,Republic of Albania!$!AL,AL,Republic of Albania,Albania,...,BC,IBRD,Active,N,"{'Percent': 100, 'Name': 'Other environment an...","[{'code': '86', 'name': 'Other environment and...",86,0,150000,http://www.worldbank.org/projects/P132679/land...
474,{'$oid': '52b213b38594d8a2be17c95a'},2013,September,2012-09-11T00:00:00Z,GOVERNMENT OF PAKISTAN,2017-06-30T00:00:00Z,Islamic Republic of Pakistan!$!PK,PK,Islamic Republic of Pakistan,Pakistan,...,"BM,BH",IBRD,Active,N,"{'Percent': 34, 'Name': 'Municipal finance'}","[{'code': '72', 'name': 'Municipal finance'}, ...","73,72",150000000,150000000,http://www.worldbank.org/projects/P112901/pk-p...
475,{'$oid': '52b213b38594d8a2be17c95b'},2013,September,2012-09-11T00:00:00Z,GOVERNMENT OF INDONESIA,2018-03-31T00:00:00Z,Republic of Indonesia!$!ID,ID,Republic of Indonesia,Indonesia,...,"BO,BH,LZ,TZ,WZ",IBRD,Active,N,"{'Percent': 25, 'Name': 'Infrastructure servic...","[{'code': '39', 'name': 'Infrastructure servic...","72,39",29600000,29600000,http://www.worldbank.org/projects/P118916/infr...
476,{'$oid': '52b213b38594d8a2be17c95c'},2013,September,2012-09-11T00:00:00Z,SOCIALIST REPUBLIC OF VIETNAM,2018-12-31T00:00:00Z,Socialist Republic of Vietnam!$!VN,VN,Socialist Republic of Vietnam,Vietnam,...,"BU,LT,LA",IBRD,Active,N,"{'Percent': 100, 'Name': 'Rural services and i...","[{'code': '78', 'name': 'Rural services and in...",78,448900000,448900000,http://www.worldbank.org/projects/P125996/dist...
477,{'$oid': '52b213b38594d8a2be17c95d'},2013,September,2012-09-11T00:00:00Z,REPUBLIC OF UZBEKISTAN,NaN,Republic of Uzbekistan!$!UZ,UZ,Republic of Uzbekistan,Uzbekistan,...,FH,IBRD,Active,Y,"{'Percent': 40, 'Name': 'Micro, Small and Medi...","[{'code': '41', 'name': 'Micro, Small and Medi...","75,41",40000000,40000000,http://www.worldbank.org/projects/P126962/addi...
478,{'$oid': '52b213b38594d8a2be17c95e'},2013,September,2012-09-11T00:00:00Z,ISLAMIC REPUBLIC OF PAKISTAN,NaN,Islamic Republic of Pakistan!$!PK,PK,Islamic Republic of Pakistan,Pakistan,...,BH,IBRD,Active,Y,"{'Percent': 10, 'Name': 'Administrative and ci...","[{'code': '25', 'name': 'Administrative and ci...","83,36,25",70000000,70000000,http://www.worldbank.org/projects/P131266/punj...
479,{'$oid': '52b213b38594d8a2be17c95f'},2013,September,2012-09-10T00:00:00Z,UT'Z CHE,2016-05-07T00:00:00Z,Republic of Guatemala!$!GT,GT,Republic of Guatemala,Guatemala,...,AZ,IBRD,Active,N,"{'Percent': 100, 'Name': 'Other social develop...","[{'code': '62', 'name': 'Other social developm...",62,0,2510000,http://www.worldbank.org/projects/P130412/stre...
480,{'$oid': '52b213b38594d8a2be17c960'},2013,September,2012-09-10T00:00:00Z,GOVERNMENT OF ZAMBIA,2014-12-31T00:00:00Z,Republic of Zambia!$!ZM,ZM,Republic of Zambia,Zambia,...,LS,IBRD,Active,N,"{'Percent': 100, 'Name': 'Other public sector ...","[{'code': '30', 'name': 'Other public sector g...",30,0,350000,http://www.worldbank.org/projects/P131881/zamb...
481,{'$oid': '52b213b38594d8a2be17c961'},2013,September,2012-09-06T00:00:00Z,GOVERNMENT OF INDIA,2015-12-31T00:00:00Z,Republic of India!$!IN,IN,Republic of India,India,...,"BC,EC,BQ,BH",IBRD,Active,N,"{'Percent': 23, 'Name': 'Child health'}","[{'code': '63', 'name': 'Child health'}, {'cod...","68,59,57,63",106000000,106000000,http://www.worldbank.org/projects/P121731/icds...
482,{'$oid': '52b213b38594d8a2be17c962'},2013,September,2012-09-06T00:00:00Z,GOVERNMENT OF INDIA,2018-12-31T00:00:00Z,Republic of India!$!IN,IN,Republic of India,India,...,"AI,YA,AH,BL,AB",IBRD,Active,N,"{'Percent': 10, 'Name': 'Rural services and in...","[{'code': '78', 'name': 'Rural services and in...","79,85,86,78",60000000,60000000,http://www.worldbank.org/projects/P122486/karn...
483,{'$oid': '52b213b38594d8a2be17c963'},2013,September,2012-09-06T00:00:00Z,GOVERNMENT OF INDIA,2013-09-30T00:00:00Z,Republic of India!$!IN,IN,Republic of India,India,...,"CZ,AH,LA,AI,LH",IBRD,Closed,N,"{'Percent': 19, 'Name': 'Pollution management ...","[{'code': '84', 'name': 'Pollution management ...","82,78,81,84",100000000,100000000,http://www.worldbank.org/projects/P124041/hima...
484,{'$oid': '52b213b38594d8a2be17c964'},2013,September,2012-09-06T00:00:00Z,"ILO, MINLAND & CFSI & BANK",2015-12-31T00:00:00Z,Republic of the Philippines!$!PH,PH,Republic of the Philippines,Philippines,...,"EV,FH,BZ,JB",IBRD,Active,Y,"{'Percent': 9, 'Name': 'Rural non-farm income ...","[{'code': '76', 'name': 'Rural non-farm income...","78,58,41,76",0,5570000,http://www.worldbank.org/projects/P132238/mult...
485,{'$oid': '52b213b38594d8a2be17c965'},2013,September,2012-09-05T00:00:00Z,GOVERNMENT OF MONGOLIA,2013-12-31T00:00:00Z,Mongolia!$!MN,MN,Mongolia,Mongolia,...,"BZ,JA,AJ",IBRD,Active,N,"{'Percent': 100, 'Name': 'Other communicable d...","[{'code': '64', 'name': 'Other communicable di...",64,0,2900000,http://www.worldbank.org/projects/P131204/capa...
486,{'$oid': '52b213b38594d8a2be17c966'},2013,September,2012-09-01T00:00:00Z,GOVERNMENT OF LEBANON & JORDAN,2015-01-31T00:00:00Z,Middle East and North Africa!$!5M,5M,Middle East and North Africa,Middle East and North Africa,...,"BZ,BS,BQ,BN",IBRD,Active,N,"{'Percent': 25, 'Name': 'Other public sector g...","[{'code': '30', 'name': 'Other public sector g...","54,55,56,30",0,2400000,http://www.worldbank.org/projects/P132097/5m-d...
487,{'$oid': '52b213b38594d8a2be17c967'},2013,August,2012-08-30T00:00:00Z,UNITED MEXICAN STATES,2017-08-31T00:00:00Z,United Mexican States!$!MX,MX,United Mexican States,Mexico,...,"YA,BL,AB",IBRD,Active,N,"{'Percent': 20, 'Name': 'Biodiversity'}","[{'code': '80', 'name': 'Biodiversity'}, {'cod...","82,79,77,80",0,11690000,http://www.worldbank.org/projects/P121116/sust...
488,{'$oid': '52b213b38594d8a2be17c968'},2013,August,2012-08-30T00:00:00Z,THE STATE OF RIO DE JANEIRO,2014-01-31T00:00:00Z,Federative Republic of Brazil!$!BR,BR,Federative Republic of Brazil,Brazil,...,"JA,EZ,BH",IBRD,Closed,N,"{'Percent': 20, 'Name': 'Health system perform...","[{'code': '67', 'name': 'Health system perform...","65,28,27,67",300000000,300000000,http://www.worldbank.org/projects/P126465/rio-...
489,{'$oid': '52b213b38594d8a2be17c969'},2013,August,2012-08-30T00:00:00Z,UN-HABITAT,2015-06-30T00:00:00Z,The Independent State of Papua New Guine!$!PG,PG,The Independent State of Papua New Guine,Papua New Guinea,...,BW,IBRD,Closed,N,"{'Percent': 50, 'Name': 'Urban services and ho...","[{'code': '71', 'name': 'Urban services and ho...","73,55,52,71",0,350000,http://www.worldbank.org/projects/P128763/papu...
490,{'$oid': '52b213b38594d8a2be17c96a'},2013,August,2012-08-29T00:00:00Z,GOVERNMENT OF NEPAL,2014-06-30T00:00:00Z,Nepal!$!NP,NP,Nepal,Nepal,...,BZ,IBRD,Active,N,"{'Percent': 80, 'Name': 'Public expenditure, f...","[{'code': '27', 'name': 'Public expenditure, f...","29,27",0,800000,http://www.worldbank.org/projects/P131860/stre...
491,{'$oid': '52b213b38594d8a2be17c96b'},2013,August,2012-08-24T00:00:00Z,PALESTINIAN WATER AUTHORITY,2014-03-31T00:00:00Z,West Bank and Gaza!$!GZ,GZ,West Bank and Gaza,West Bank and Gaza,...,"WC,WA",IBRD,Active,N,"{'Percent': 100, 'Name': 'Rural services and i...","[{'code': '78', 'name': 'Rural services and in...",78,0,3650000,http://www.worldbank.org/projects/P123322/wate...

In [12]:
full_json_df.columns.values

array(['_id', 'approvalfy', 'board_approval_month', 'boardapprovaldate',
       'borrower', 'closingdate', 'country_namecode', 'countrycode',
       'countryname', 'countryshortname', 'docty',
       'envassesmentcategorycode', 'grantamt', 'ibrdcommamt', 'id',
       'idacommamt', 'impagency', 'lendinginstr', 'lendinginstrtype',
       'lendprojectcost', 'majorsector_percent', 'mjsector_namecode',
       'mjtheme', 'mjtheme_namecode', 'mjthemecode', 'prodline',
       'prodlinetext', 'productlinetype', 'project_abstract',
       'project_name', 'projectdocs', 'projectfinancialtype',
       'projectstatusdisplay', 'regionname', 'sector', 'sector1',
       'sector2', 'sector3', 'sector4', 'sector_namecode', 'sectorcode',
       'source', 'status', 'supplementprojectflg', 'theme1',
       'theme_namecode', 'themecode', 'totalamt', 'totalcommamt', 'url'],
      dtype=object)

In [15]:
### 1. Find the 10 countries with most projects

countries = full_json_df.groupby('countryshortname')['_id'].count()
countries.nlargest(10)

countryshortname
China                 19
Indonesia             19
Vietnam               17
India                 16
Yemen, Republic of    13
Bangladesh            12
Morocco               12
Nepal                 12
Africa                11
Mozambique            11
Name: _id, dtype: int64

In [42]:
### 2. Find the top 10 major project themes (using column 'mjtheme_namecode')

full_json_df = json.load((open('data/world_bank_projects.json')))

projects = json_normalize(full_json_df, 'mjtheme_namecode')
projects.name.value_counts().nlargest(10)

#, ['state', 'shortname', ['info', 'governor']]

Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
Name: name, dtype: int64

In [47]:
# 3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

import numpy as np

data = json.load((open('data/world_bank_projects.json')))
project_themes = json_normalize(data, 'mjtheme_namecode')


# create separate dataframe for demonstrating this method
project_themes_2 = project_themes.copy()

# Step 1: sort
sorted_themes = project_themes_2.sort_values(['code', 'name'])
print("\n")
print(sorted_themes.head(50))


# Step 2: replace "" with NaN
sorted_themes.name[sorted_themes.name == ""] = np.nan
print("\n")
print(sorted_themes.head(50))



# Step 3: backfill NaN's with appropriate values and sort back to original order

fixed_themes = sorted_themes.fillna(method = 'bfill')
print("\n")
print(fixed_themes.sort_index().head(50))

     code                 name
212     1
363     1
1024    1
1114    1
1437    1
2       1  Economic management
88      1  Economic management
175     1  Economic management
204     1  Economic management
205     1  Economic management
220     1  Economic management
222     1  Economic management
223     1  Economic management
249     1  Economic management
357     1  Economic management
453     1  Economic management
454     1  Economic management
458     1  Economic management
497     1  Economic management
647     1  Economic management
648     1  Economic management
784     1  Economic management
803     1  Economic management
841     1  Economic management
900     1  Economic management
1010    1  Economic management
1045    1  Economic management
1056    1  Economic management
1057    1  Economic management
1078    1  Economic management
1206    1  Economic management
1212    1  Economic management
1218    1  Economic management
1229    1  Economic management
1230    1  Economic management
1235    1  Economic management
1257    1  Economic management
1260    1  Economic management
121    10
165    10
217    10
275    10
391    10
424    10
435    10
663    10
695    10
824    10
908    10
970    10


     code                 name
212     1                  NaN
363     1                  NaN
1024    1                  NaN
1114    1                  NaN
1437    1                  NaN
2       1  Economic management
88      1  Economic management
175     1  Economic management
204     1  Economic management
205     1  Economic management
220     1  Economic management
222     1  Economic management
223     1  Economic management
249     1  Economic management
357     1  Economic management
453     1  Economic management
454     1  Economic management
458     1  Economic management
497     1  Economic management
647     1  Economic management
648     1  Economic management
784     1  Economic management
803     1  Economic management
841     1  Economic management
900     1  Economic management
1010    1  Economic management
1045    1  Economic management
1056    1  Economic management
1057    1  Economic management
1078    1  Economic management
1206    1  Economic management
1212    1  Economic management
1218    1  Economic management
1229    1  Economic management
1230    1  Economic management
1235    1  Economic management
1257    1  Economic management
1260    1  Economic management
121    10                  NaN
165    10                  NaN
217    10                  NaN
275    10                  NaN
391    10                  NaN
424    10                  NaN
435    10                  NaN
663    10                  NaN
695    10                  NaN
824    10                  NaN
908    10                  NaN
970    10                  NaN


   code                                          name
0     8                             Human development
1    11  Environment and natural resources management
2     1                           Economic management
3     6         Social protection and risk management
4     5                         Trade and integration
5     2                      Public sector governance
6    11  Environment and natural resources management
7     6         Social protection and risk management
8     7                   Social dev/gender/inclusion
9     7                   Social dev/gender/inclusion
10    5                         Trade and integration
11    4      Financial and private sector development
12    6         Social protection and risk management
13    6         Social protection and risk management
14    2                      Public sector governance
15    4      Financial and private sector development
16   11  Environment and natural resources management
17    8                             Human development
18   10                             Rural development
19    7                   Social dev/gender/inclusion
20    2                      Public sector governance
21    2                      Public sector governance
22    2                      Public sector governance
23   10                             Rural development
24    2                      Public sector governance
25   10                             Rural development
26    6         Social protection and risk management
27    6         Social protection and risk management
28   11  Environment and natural resources management
29    4      Financial and private sector development
30    5                         Trade and integration
31   11  Environment and natural resources management
32   10                             Rural development
33    6         Social protection and risk management
34    6         Social protection and risk management
35    6         Social protection and risk management
36   10                             Rural development
37   11  Environment and natural resources management
38    5                         Trade and integration
39   10                             Rural development
40    2                      Public sector governance
41    8                             Human development
42    7                   Social dev/gender/inclusion
43    8                             Human development
44    8                             Human development
45    2                      Public sector governance
46    7                   Social dev/gender/inclusion
47    8                             Human development
48    2                      Public sector governance
49    2                      Public sector governance